{% extends "home/index.html" %}


{% block title %}
Bloghome
{% endblock %}


{% block blogactive %} active {% endblock %}
{% block body %}
{% for post in allpost %}
  

<div class="container my-3" >
   <div class="card">


  <div class="card-body">
    <h8 class="card-title">Blog by- {{ post.author }}</h5>
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.content | truncatechars:100}}</p>
    <a href="{{ post.slug }}" class="btn btn-primary">Read More</a>
  </div>
</div> </div>
{% endfor %}
{% endblock %}